name: Build And Publish (Reusable Workflow)

on:
  workflow_call:
    inputs:
      buildVersion:
        required: true
        type: string
      nugetVersion:
        required: true
        type: string
      publish:
        required: true
        type: boolean
      debug:
        required: true
        type: boolean
      
jobs:
  build:
    name: Build and Test
    runs-on: windows-latest

    env:
      solution: SmtpToRest.sln

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            7.x
          
      - name: Restore dependencies
        if: inputs.debug == false
        run: dotnet restore ${{ env.solution }}
  
      - name: Build
        if: inputs.debug == false
        run: dotnet build ${{ env.solution }} --configuration Release --no-restore -p:Platform="Any CPU" -p:TreatWarningsAsErrors=True
        env:
          BuildVersion: ${{ inputs.buildVersion }}
  
      - name: Test
        if: inputs.debug == false
        timeout-minutes: 5
        run: dotnet test ${{ env.solution }} --configuration Release --no-build --verbosity normal --blame-crash

      - name: Build self-contained EXE for Windows Service
        timeout-minutes: 5
        run: .\SmtpToRest.WindowsService\Publish.ps1 -BuildVersion ${{ inputs.buildVersion }}
    
      - name: Upload self-contained EXE as artifact
        if: inputs.debug == false
        uses: actions/upload-artifact@v3
        with:
          name: SmtpToRest.WindowsService.zip
          path: "SmtpToRest.WindowsService/publish"

      - name: Log in to Docker Hub
        if: inputs.publish
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        if: inputs.publish
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: nicolaihenriksen/smtptorest
      
      - name: Build and push Docker image
        if: inputs.publish && inputs.debug == false
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825
        with:
          context: .
          file: ./SmtpToRest.Docker/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}      