name: Build And Publish (Reusable Workflow)

on:
  workflow_call:
    inputs:
      buildVersion:
        required: true
        type: string
      nugetVersion:
        required: true
        type: string
      publish:
        required: true
        type: boolean
      debug:
        required: true
        type: boolean
      
jobs:
  build:
    name: Build, Test, Upload artifacts, and Publish
    runs-on: ubuntu-latest

    env:
      solution: SmtpToRest.sln

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            7.x
            8.x
            9.x
          
      - name: Restore dependencies
        if: inputs.debug == false
        run: dotnet restore ${{ env.solution }}
  
      - name: Build
        if: inputs.debug == false
        run: dotnet build ${{ env.solution }} --configuration Release --no-restore -p:Platform="Any CPU" -p:TreatWarningsAsErrors=True
        env:
          BuildVersion: ${{ inputs.buildVersion }}
  
      - name: Test
        if: inputs.debug == false
        timeout-minutes: 5
        run: dotnet test ${{ env.solution }} --configuration Release --no-build --blame-crash --logger GitHubActions

      - name: Build self-contained EXE for Windows Service
        timeout-minutes: 5
        run: |
          dotnet publish ./SmtpToRest.WindowsService/SmtpToRest.WindowsService.csproj -p:Configuration=Release -p:BuildVersion=${{ inputs.buildVersion }} -p:DebugType=None -p:DebugSymbols=false -f net8.0 -o:./SmtpToRest.WindowsService/publish
          rm ./SmtpToRest.WindowsService/publish/appsettings.Development.json
    
      - name: Upload self-contained EXE as artifact
        if: inputs.debug == false
        uses: actions/upload-artifact@v4
        with:
          name: SmtpToRest.WindowsService
          path: "SmtpToRest.WindowsService/publish"

      - name: Build nuget package
        timeout-minutes: 5
        run: dotnet pack ./SmtpToRest/SmtpToRest.csproj -p:Configuration=Release -p:Version=${{ inputs.nugetVersion }} -p:ContinuousIntegrationBuild=True -o:./SmtpToRest/pack

      - name: Upload nupkg as artifact
        if: inputs.debug == false
        uses: actions/upload-artifact@v4
        with:
          name: Nuget-nupkgs
          path: "SmtpToRest/pack"

      - name: Push to NuGet
        if: inputs.publish && inputs.debug == false
        run: dotnet nuget push "./SmtpToRest/pack/*.nupkg" --api-key ${{secrets.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json --skip-duplicate

      - name: Log in to Docker Hub
        if: inputs.publish
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        if: inputs.publish
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f
        with:
          images: nicolaihenriksen/smtptorest
      
      - name: Build and push Docker image
        if: inputs.publish && inputs.debug == false
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          file: ./SmtpToRest.Docker/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Zip Self-contained EXE artifact
        run: zip -j SmtpToRest.WindowsService.zip SmtpToRest.WindowsService/publish/*

      - name: Create release
        if: inputs.publish && inputs.debug == false
        uses: ncipollo/release-action@v1
        with:
          artifacts: "SmtpToRest/pack/*.nupkg,SmtpToRest.WindowsService.zip"
          tag: ${{ inputs.nugetVersion }}
          generateReleaseNotes: true
          draft: true