name: Build

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**/README.md'
    tags:
      - 'v*.*.*'
  pull_request:
    branches: [ master ] 
  workflow_dispatch:

jobs:
  determine_workflow_type:
    name: Determine Workflow type
    runs-on: windows-latest
    outputs:
      version: ${{ steps.vars.outputs.version }}
      publish: ${{ steps.vars.outputs.publish }}
    steps:
      - name: Set output
        id: vars
        run: |
          if ("${{ github.ref }}".startsWith("refs/tags/v")) {
            $tagVersion = "${{ github.ref }}".substring(11)
            echo "version=$tagVersion" | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append
            echo "publish=true" | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append
          } else {
            echo "version=1.0.0" | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append
            echo "publish=false" | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append
          }

  build:
    name: Build
    needs: determine_workflow_type
    uses: ./.github/workflows/build_artifacts.yml
    with:
      buildVersion: ${{ needs.determine_workflow_type.outputs.version }}.${{ github.run_number }}
      nugetVersion: ${{ needs.determine_workflow_type.outputs.version }}-alpha
      publish: ${{ needs.determine_workflow_type.outputs.publish == 'true' }}
      debug: false
    secrets: inherit

  automerge:
    needs: [determine_workflow_type, build]
    if: needs.determine_workflow_type.outputs.publish == 'false'
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3